<div class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
    <div class="" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</div>