<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">Espy Project Execution Records</h1>

  <p class="lead">Telling the Stories of over 15,000 Individuals Executed in what is now the United States since 1608</p>

  <p>
  </p>
</div>


<p>The Espy Project uses the M. Watt Espy Papers and the Espy File dataset to provide documentation for American executions.
</p>

<div class="row">
    <div class="col-md-9">
        <ul>
            <li><a href="https://archives.albany.edu/web/espyfields/">Description of metadata fields</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=M.+Watt+Espy+Papers&f[resource_type_sim][]=Dataset">CSV Datasets</a></li>
        </ul>
        <p>M. Watt Espy spent most of his life documenting the death penalty. He drew on a network of sources around the country to gather reference material from newspaper accounts, corrections records, local histories, and more. Espy then typed summaries of each case on index cards which provide vivid, if problematic, accounts of each case. In 1984, the National Science Foundation awarded a grant to Espy, John Ortiz Smykla  and the University of Alabama (SES 84-09725) to create a dataset based on Espy’s materials for academic research. This was released as <a href="https://doi.org/10.3886/ICPSR08451.v5">Executions in the United States, 1608-2002: The ESPY File (ICPSR 8451)</a>. Espy and his family later donated the collection to the M.E Grenander Special Collections & Archives at the University at Albany, SUNY between 2008 and 2016. In 2016, the Council on Library and Information Resources (CLIR) funded <a href="http://registry.clir.org/projects/23081088">The Digital Archive of Executions in the United States, 1608-2002: Digitization and Access to the M. Watt Espy Papers</a> to digitize the index card summaries and reference material and make them available online. This site is one of the outcomes of that project.</p>
    </div>
    <div class="col-md-3">
        <figure class="figure">
            <%= image_tag('espy_photo_web.jpg', alt: "M. Watt Espy in his office at the Capital Punishment Research Project.") %>
            <figcaption class="figure-caption">M. Watt Espy in his office at the Capital Punishment Research Project.</figcaption>
        </figure>
    </div>
</div>

<p>The total number of American executions is unclear. Many cases have limited or conflicting documentation, particularly before the 20th century when documentation was sparse and executions were more regular events. We tried to be more inclusive and include cases found in Espy’s materials that were omitted from the Espy File dataset. This includes executions in other jurisdictions that took place in what is now the United States, such as Native American executions and executions in Spanish, French, or Russian colonies. We also included many cases where the outcome was unclear. Cases were classified as “Documented,” or “Underdocumented” to make these distinctions transparent. Cases with original source material or confident and detailed citations were classified as “Documented.” There are also cases where the reason for their omission from the Espy File is unclear.</p>
<p>The descriptions in both the original source material and Espy’s index card summaries may be offensive or harmful. In particular, we recognize that this material often fails to represent marginalized groups of people accurately and respectfully. Additionally, the data coding in the Espy File dataset was also not always appropriate. We have attempted to remove harmful language in the places we directly control, such as the display application and Espy Data Fields. Still, since the information we have for each case is based solely on the existing documentation, we inevitably perpetuated the omissions and distortions of that documentation.</p>
<p>Please <a href="https://albany.libwizard.com/f/contactus?i_have_a_questi=Special%20Collections%20%26%20Archives">contact us</a> for any further clarification.</p>

<div class="row">
  <div class="col-md-9">
      <h4>More about the Espy Project:</h4>
        <ul>
          <li><a href="https://archives.albany.edu/web/espyproject/">Espy Project Announcement</a>, April 2017</li>
          <li><a href="http://registry.clir.org/projects/23081088">CLIR Grant Announcement</a>, 2016</li>
          <li><a href="https://archives.albany.edu/description/catalog/apap301">M. Watt Espy Papers</a></li>
          <li><a href="https://archives.albany.edu/web/2017/10/06/espy_project_fall_update.html">Espy Project Fall Update</a>, October 2017</li>
          <li><a href="https://gregwiedeman.com/slides/code4lib2019.html#/">Code4Lib presentation, by Gregory Wiedeman</a>, 2019 February</li>
          <li><a href="https://archives.albany.edu/web/2019/05/13/disparities_in_documentation.html">Disparities in Documentation, by Sheri Sarnoff</a>, May 2019</li>
          <li><a href="https://archives.albany.edu/web/2019/05/15/working_with_challanging_or_anonymous_records.html">Working with Challanging or Anonymous Records, by Amanda Partridge</a>, May 2019</li>
          <li><a href="https://archives.albany.edu/web/2019/05/20/missing_executions_from.html">Missing Executions from 1860-1875 Mississippi, by Miles Lawlor</a>, May 2019</li>
        </ul>
    </div>
    <div class="col-md-3 clir mb-4">
        <a href="https://www.clir.org/hiddencollections"><img alt="Council on Library and Information Resources Logo" src="https://archives.albany.edu/web/oldDrupal/img/clir.gif"></a>
    </div>
</div>

