<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">Espy Project Execution Records</h1>

  <p class="lead">Telling the Stories of over 15,000 Individuals Executed in what is now the United States since 1608</p>

  <p>
  </p>
</div>

<%= link_to 'Data Fields', 'https://archives.albany.edu/web/espyfields/', class: 'btn btn-primary mb-4' %>

<div class="row">
  <div class="col-md-9">
      <h4>About the Espy Project:</h4>
        <ul>
          <li><a href="https://archives.albany.edu/web/espyproject/">Espy Project Announcement</a>, April 2017</li>
          <li><a href="http://registry.clir.org/projects/23081088">CLIR Grant Announcement</a>, 2016</li>
          <li><a href="https://archives.albany.edu/description/catalog/apap301">M. Watt Espy Papers</a></li>
          <li><a href="https://archives.albany.edu/web/2017/10/06/espy_project_fall_update.html">Espy Project Fall Update</a>, October 2017</li>
          <li><a href="https://gregwiedeman.com/slides/code4lib2019.html#/">Code4Lib presentation, by Gregory Wiedeman</a>, 2019 February</li>
          <li><a href="https://archives.albany.edu/web/2019/05/13/disparities_in_documentation.html">Disparities in Documentation, by Sheri Sarnoff</a>, May 2019</li>
          <li><a href="https://archives.albany.edu/web/2019/05/15/working_with_challanging_or_anonymous_records.html">Working with Challanging or Anonymous Records, by Amanda Partridge</a>, May 2019</li>
          <li><a href="https://archives.albany.edu/web/2019/05/20/missing_executions_from.html">Missing Executions from 1860-1875 Mississippi, by Miles Lawlor</a>, May 2019</li>
        </ul>
    </div>
    <div class="col-md-3 clir mb-4">
        <a href="https://www.clir.org/hiddencollections"><img alt="Council on Library and Information Resources Logo" src="https://archives.albany.edu/web/oldDrupal/img/clir.gif"></a>
    </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Historical Note</h5>
    <h6 class="card-subtitle mb-2 text-muted">The history of the collection</h6>
    <p class="card-text">M. Watt Espy, Jr. (1933-2009) was widely recognized as one of the foremost historians of legal executions in the United States. Beginning with his own personal resources, in May 1970, Espy began the first serious quest to chronicle and document more than 15,000 government-sanctioned executions in the United States since 1608—an effort that formally became the Capital Punishment Research Project. His method was to collect information by obtaining state Department of Corrections records, newspapers, published and unpublished county histories, proceedings of state and local courts, magazines, and holdings of historical societies, libraries, museums, and archives.</p>
    <div id="bioghist" class="collapse">
    <p class="card-text">Initially Espy accumulated and recorded information about executions in the United States from his home in Headland, Alabama as a part-time pursuit while working in sales. Between 1977 and 1985, however, the University of Alabama Law Center in Tuscaloosa hired Espy to continue his work and during this time he published “Capital Punishment and Deterrence: What the Statistics Cannot Show”, Crime & Delinquency, (Vol. 26, No. 4, 537-544 (1980). He also wrote numerous opinion editorials and histories of the death penalty for major daily newspapers, including the Los Angeles Times, The Atlanta Constitution, The Virginian-Pilot, The Columbus Dispatch, the St. Louis Post-Dispatch, and The Nashville Tennessean, throughout the 1980s. In 1984, the National Science Foundation awarded a grant to support the preparation of a comprehensive computer database with Espy’s exhaustive research as its foundation.</p>
    <p class="card-text">In 1987, that database became a reality when the Inter-University Consortium for Political and Social Research (ICPSR) published a dataset, Executions in the United States, 1608-1987: The Espy File (ICPSR 51). The portable data file furnishes information on executions performed under civil authority in the United States between 1608 and July 6, 1987, and describes each individual executed and the circumstances surrounding the crime for which the person was convicted. Variables include age, race, name, occupation, and sex of the individual; date, jurisdiction, place, and method of execution; and the crime committed. Also recorded is whether the only evidence for the execution was official records indicating that an executioner or slave owner received compensated for an execution. The Espy File was subsequently updated to include executions through 2002.</p>
    <p class="card-text">The Espy File is based on several ledgers that Espy used to confirm an execution. In one ledger, he arranged executions alphabetically by state and then in chronological order. Espy recorded the name, race, age and occupation of the offender, county of conviction, crime, date and method of execution. A second ledger contained the same cases listed chronologically, beginning with 1608. Espy included just the name of the individual, the crime, and date, location, and method of execution. A third, and much smaller ledger, also is arranged by year and contains post-Furman executions beginning in 1986. There is also a page for new confirmations from nineteenth and earlier twentieth century dates.</p>
    <p class="card-text">Espy’s work went beyond simply tallying the total number of executions. Instead he passionately researched and gathered all available background information on those executed, writing detailed note cards, narratives, and the ledger entries, which are all included in the collection. He painstakingly sought confirmation that officials carried out even the most obscure death sentences. Espy innovatively utilized antebellum state and county warrant records outlining compensation for executed slaves in his research. He explored the lesser known area of juvenile executions, documenting cases where children and teenagers received death sentences. Espy chronicled gruesome capital punishments for participants in slave rebellions during the colonial period. In addition, he uncovered botched executions where law enforcement hanged or electrocuted the same man more than once to complete the death sentence. As a further indication of his all-consuming interest in researching capital punishment, Espy filled the walls of his home with photographs of individuals executed.</p>
    <p class="card-text">Although he attended the University of Alabama for two years following service in the United States Navy during the Korean War, Espy never received a college degree. However, through his work, he earned the respect and admiration of academics, advocacy groups, and members of the general public. In 1991 the National Coalition to Abolish the Death Penalty honored Espy with a special award at its annual meeting. His professional relationships with noted death penalty abolitionists, sociologists, criminal justice professors, authors, lawyers, members of Congress, and advocacy group executives are detailed in his correspondence. This group includes such notables as former director of the American Civil Liberties Union Capital Punishment Project Henry Scharwzchild and leading experts on capital punishment Dr. Hugo Bedau, and Dr. Michael Radelet, who once commented that “’[Espy] is widely recognized by everyone in the academic world as America’s foremost death penalty historian." (Ronald Smothers, “Headland Journal; Historian's Death Penalty Obsession,” The New York Times, October 21, 1987.) Letters describe how public defender offices and defense attorneys hired Espy to research past crimes and executions as part of mounting a defense in capital cases. Prisoners exchanged correspondence with him for insights gleaned from his work and moral support. (Series 5: Correspondence).</p>
    <p class="card-text">Following his affiliation with the University of Alabama Law Center, Espy continued to research and document executions, write, consult, and lecture from his home base in Headland until his death in August 2009.</p>
    </div>
    <a href="#" data-toggle="collapse" data-target="#bioghist" class="card-link" aria-expanded="false">
        <span class="collapsed">
        Show more &#9660;
      </span>
      <span class="expanded">
        Show less &#9650;
      </span>
    </a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Scope and Content Note</h5>
    <h6 class="card-subtitle mb-2 text-muted">What is in the collection</h6>
    <p class="card-text">The M. Watt Espy Papers document more than three decades of research from the nationally recognized expert on legal executions in the United States. Beginning as a macabre hobby in 1970, M. Watt Espy, Jr. began chronicling tens of thousands of government-sanctioned capital punishment sentences from the colonial period until the present day. His solitary hobby eventually became an all-consuming passion and he embarked upon a full-time career as the commanding force behind the Capital Punishment Research Project.</p>
    <div id="scope" class="collapse">
    <p class="card-text">In 1987, The New York Times profiled Espy, his work and his “death penalty obsession” stating: “By all accounts Watt Espy’s collection is as unique as he is eccentric.” This statement remains an accurate description of Espy’s materials and the death penalty researcher himself. The collection includes Espy's vast documentation of executions in America, including a series of typed index cards listing individuals executed. Espy’s method was to collect information by obtaining state Department of Corrections records, newspaper articles, published and unpublished county histories, proceedings of state and local courts, magazines, and holdings of historical societies, libraries, museums, and archives. In addition, there is aggregated research data, administrative files, general subject research and notes, professional correspondence, news articles about or citing Espy, statements to the media, copies of his published and unpublished writings (including numerous opinion editorials), texts of speeches and testimonials before government panels, a personal signed portrait and autograph collection, scholarly works by others writing in the fields of history, crime, capital punishment, and the legal system, materials from advocacy organizations, photographs of individuals executed, and true crime, penitentiary, and general interest publications and books. Although the materials in the collection include eighteenth, nineteenth, and early twentieth century dates of creation, please note many of these items are photocopies of originals.</p>
    <p class="card-text">The collection also documents Espy’s research and thought process over the course of more than three decades. Espy’s materials illustrate the shift of research methodologies of the 1970s and 1980s through the twenty-first century. While he began by spending countless hours typing up correspondence to libraries, archives and historical societies, and scouring microfilm, the later portions of the collection include e-mail correspondence and news articles culled from the Internet. Of note, Espy rejected his earlier beliefs favoring capital punishment and over time became a critic of executions, arguing they did not deter future criminal acts and objecting to the number of individuals executed who were not guilty.</p>
    </div>
    <a href="#" data-toggle="collapse" data-target="#scope" class="card-link" aria-expanded="false">
        <span class="collapsed">
        Show more &#9660;
      </span>
      <span class="expanded">
        Show less &#9650;
      </span>
    </a>
  </div>
</div>
