<% if show_doc_actions? %>
  <div class="show-tools">
    <%= render Blacklight::Document::ActionsComponent.new(
      document: @document,
      tag: 'div',
      classes: '',
      actions: document_actions(@document),
      url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h)
    ) %>
  </div>
<% end %>
