/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 *
 * Used by blacklight_range_limit
 *= require  'font-awesome'
 *= require  'blacklight_range_limit'
 *= require  'grenander/main'
 *= require  'grenander/navbar'
 *= require  'grenander/search-source'
 *= require  'grenander/footer'
 *
*/

body {
    background: #ffffff !important;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

h1 {
    margin-bottom: 1rem;
}

.al-sticky-sidebar .card, .page-sidebar .card {
	box-shadow: none !important;
}

label.toggle-bookmark {
    min-width: 0;
    margin: 0.1rem;
}

.footRight {
	text-align: left;
}

.footRight img {
	max-width: 300px;
	margin-bottom: 15px;
}

.mirador-window-close, .mirador-window-maximize {
  display: none !important;
}

@media only screen and (max-width: 400px) {

    .spc-footer {
        margin: 0px 0px 25px 0px;
        font-size: 9pt;
        padding: 10px 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .footRight {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #efb310;
    }
    .footRight p {
        padding-right: 33%;
    }

    .spc-footer a {
        margin: 15px 0 0 0;
        display: block;
    }

    .spc-footer .footerLogo a {
        margin: auto;
        display: inline-block;
    }

}

a {
	color: #642a90;
}

a:hover {
	color: #006c68;
}

.btn-info {
	background-color: #006c68;
}


